body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}
.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    background-image: url(../img/ch3.jpg);
    background-repeat: no-repeat; 
    background-size: cover;  
}
.blur{
    FONT-WEIGHT: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    background-color: rgba(150, 227, 232, 0.055)
}
.head{
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: auto;
}
.logo{
    height: 50%;
    width: 15%;
    float:left;
}
.logo1{
    height: 40%;
    width: 15%;
    float: right;
}
.top_bar{
    width: 100%;
    height: auto;
    color: #fff;;
    font-family: 'Calibri';
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    padding-top: 5px;
}
.google{
    height: 55%;
    width: 2%;
    float: left;
}
.rus{
    height: 55%;
    width: 2%;
}
.bel{
    height: 55%;
    width: 2%;
}
.eye{
    height: 55%;
    width: 2%;
}
.bottons{
    display: flex;
    flex-direction: row;
}
.style:hover{
    color: #e9895f;
    font-size: 25px;
}
.style2{
    color:white;
    font-family: 'Calibri';
    font-size: 50px;
    font-weight: 100;
    width: 95%;
    padding-top: 20px;
    padding: 100px;
}
.style4{
    color:white;
    font-family: 'Calibri';
    font-size: 20px;
    font-weight: 100;
    width: 95%;
    height: auto;
}
.wraper{
    height: 90%;
    width: 100%;
    background-color:#515151;
}
* {
    padding: 0;
    margin: 0;
}
.down{
    color:white;
    font-family: 'Calibri';
    font-size: 20px;
    font-weight: 100;
    width: 100%;
    height: auto;
    text-align: center;
}
